* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

header,
main {
    padding: 2em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
    padding-left: 0;
}

/* form */
form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

form input {
    display: block;
}