* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: #234E70;
    margin: 0;
    height: 100%;
}



header,
main {
    padding: 2em;
}

header {
    background-color: #FCF6F5FF;
}

/* Typography */
h1 {
    font-size: 3.4rem;
    text-align: center;
    color: #FBF8BE;
}

p {
    font-size: 1.8rem;
    color: #FBF8BE;
}

a {
    text-decoration: none;
    color: #234E70;
}

main a {
    color: #FBF8BE;
    border-bottom: 2px solid #FBF8BE;
}

main a:hover {
    border: none;
}

.msg-author span {
    font-weight: bold;
}

.msg-date {
    font-weight: 400;
}

/* Navigation */
nav ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
    padding-left: 0;
    margin: 0;
}

nav ul a {
    font-size: 2rem;
}

/* messages */
.messages-container {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    background-color: #234E70;
    padding: 2em;
    border-radius: 5px;
}

.message {
    background-color: #FCF6F5FF;
    padding: 1em;
    border-radius: 5px;
    color: #234E70;
    position: relative;
}

.msg-content {
    max-width: 75%;
}

/* .msg-author {
    position: absolute;
    top: 0;
} */

.message .msg-date {
    position: absolute;
    top: 1em;
    right: 1em;
    margin: 0;
    color: rgb(163, 159, 159);
    font-size: 1.5rem;
}

.message p {
    color: #234E70;
}

/* form */
form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
}

form label {
    color: #FBF8BE;
}

form input {
    display: block;
    margin-top: .5em;
    padding: .2em;
    border-radius: 5px;
    border: none;
    font: inherit;
    /* background-color: rgba(198, 234, 245, 0.445); */
}

form button {
    font: inherit;
    width: 150px;
    padding: .5em;
    cursor: pointer;
    border: none;
    background-color: #FBF8BE;
    border-radius: 5px;
    color: #234E70;
    font-weight: bold;
}

form button:hover {
    background-color: rgb(238, 236, 99);
}

.delete {
    background-color: #B85042;
    width: 80px;
    color: white;
    position: absolute;
    bottom: .5em;
    right: .5em;
}

.delete:hover {
    background-color: #e46d4f;
}